
<div class="posts-wrapper">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          <%= post.user.user_name %>
        </div>
      </div>
      <div class="image">
        <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
      </div>
      <p class="caption">
      <strong><%= post.user.user_name %>:</strong>
        <%= post.caption %>
      </p>

      <div class="comments">
          <% if post.comments %>
            <% post.comments.each do |comment| %>
              <div class="comment">
                <div>
                  <%= comment.user.user_name %>:
                  <%= comment.content %>
                  <%= link_to ' Delete Comment ', post_comment_path(post, comment), method: :delete, class: "delete-button", data: { confirm: "Are you sure you want to delete this comment?" } %>
                </div>
              </div>
            <% end %>
          <% end %>

        <div class="comment-form">
          <%= form_for [post, post.comments.new] do |f| %>
            <%= f.text_field :content, placeholder: 'Add a comment...' %>
            <%= f.submit "Add Comment"%>
          <% end %>
          
        </div>
      </div>
      
    </div>
  <% end %>
</div>
