<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name-show">
        <%= @post.user.user_name %>
      </div>
    </div>

    <div class="text-center">
      <% if @post.user.id == current_user.id %>
        <%= link_to "Cancel", posts_path %> &nbsp;|&nbsp;
        <%= link_to "Edit Post", edit_post_path(@post) %> &nbsp;|&nbsp;
        <%= link_to "Delete Post", post_path(@post), method: :delete %>
      <% else %>
        <%= link_to "Go Back", posts_path %>
      <% end %>
    </div>

    <div class="image">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <p class="caption">
      <strong><%= @post.user.user_name %>:</strong>
      <%= @post.caption %>

      <div class="comments">
          <% if @post.comments %>
            <% @post.comments.each do |comment| %>
              <div class="comment">
                <div class='commentors'>
                  <span class='commentor'><%= comment.user.user_name %>:</span>
                  <span><%= comment.content %></span>
                  <% if @post.user.id == current_user.id %>                  
                    <%= link_to post_comment_path(@post, comment), method: :delete, class:'delete-func' do %>
                      <i class="material-icons clear">clear</i>
                    <% end %>
                  <% elsif comment.user.user_name == current_user.user_name %>
                    <%= link_to post_comment_path(@post, comment), method: :delete, class:'delete-func' do %>
                      <i class="material-icons clear">clear</i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <br>
      </div>

    </p>
  </div>
</div>

