<!DOCTYPE html>
<html>
  <head>
    <title>PicIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to "Pic-it", root_path %>
      </div>
    </div>
    <div>
      <ul class="navbar-nav">
        <li>
          <%= link_to "New Post", new_post_path %>
        </li>
        <li>
          <%= link_to "Login", '#' %>
        </li>
        <li>
          <%= link_to "Register", '#' %>
        </li>
      </ul>
    </div>
  </div>
  </nav>
    <%= yield %>
  </body>
</html>
